* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

/* Title */
h1 {
    font-size: 48px;
    /* font-style: oblique; */
    text-align: center;
    padding: 5px 10px 5px 10px;
}

/* Example text*/
.loremipsum {
    text-align: justify;
    /* gap: 1%; */
}

/* Div */
.div1 {
    padding: 1em;
}

.div2 {
    position:absolute;
    padding: 1em;
}

/* Div image */
.img {
    display: flex;
    flex-direction: row;
    position: center;
    padding: 1em;
}

/* Image */
.profile_pic {
    /* top: 200px;
    left: 200px; */
    border: 1em;
    width: 50%;
    height: auto;
    padding: 1em;
}
