* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: rgb(245, 245, 245);
}

h1 {
    font-size: 48px;
    font-style: oblique;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.profile_pic {
    display: flex;
    flex-direction: row;
    weight: 250px;
    height: 250px;
    padding: 1%;
}

.loremipsum {
    text-align: justify;
    padding: 0.5em;
    gap: 1%;
}
