html {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 10px 40px 20px 40px;
}

#telegramlogo {
    width: 150px;
    height: auto;
    padding: 20px;
    border-top: 0.5rem;
    border-left: 0.5rem;
    margin: 0.5rem;
}

.copyright {
    padding: 1rem;
    border: 1rem;
}
